body {
    font-family: Avenir, Verdana, Arial, sans-serif;
}
@media (min-width: 900px) {
    .container {
        max-width: 800px;
    }
}
.section {
    padding: 50px 0px;
}
ul.buttons {
    margin: 10px 0px;
		padding: 0px;
}
ul.buttons li {
		margin-top: 5px;
		display: inline-block;
}
header {
	background-color: white;
}
#header {
	background-color: white;
	padding: 20px 0px 10px 0px;
	text-align: center;
	border-bottom: 1px solid #EEEEEE;
}
.footer {
		border-top: 1px solid #EEEEEE;
    font-size: 0.8em;
    background-color: white;
    color: black;
    text-align: center;
}
.footer a {
    font-weight: bold;
    font-style: normal;
}

.infoButton {
  color: black;
  text-decoration: none;
  text-align: center;
  padding: 0 30px;
  line-height: 30px;
  display: inline-block;
  position: relative;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0 0px 0px #888888;
  transition:color 0.3s, background-color 0.5s, ease-in-out;
}
.infoButton:hover {
  background-color: white;
  color: black;
	text-decoration: none;
  box-shadow: 0 0px 0px #666666;
}

.aboutSection {
  color: black;
  background-color: #F2F2F2;
  text-align: center;
}
.aboutSection #logo {
    margin: 20px 0px;
}
.aboutSection #logo {
    align: center;
}
.aboutSection #tagline {
    margin: 20px 0px;
}

ul.navigation {
    margin: 20px 0px 0px 0px;
		padding: 0px;
}
ul.navigation li {
		display: inline-block;
		margin-right: 10px;
}
ul.navigation li:last-child {
 margin-right: 0px;
}
ul.navigation a {
	color: black;
}

/* DP Section */

.dpSection {
    color: white;
    background-color: black;
}
.dpSection a {
    color: white;
}
.dpSection #logo {
    margin: 20px 0px;
}
@media (max-width: 768px) {
    .dpSection {
        text-align: center;
    }
    .dpSection #unit {
    }
    .dpSection #logo {
        align: center;
    }
    .dpSection #ipad {
    }
    .dpSection #tagline {
        margin: 20px 0px;
    }
}
@media (min-width: 768px) {
    .dpSection {
        text-align: left;
    }
    .dpSection #unit {
        float:right;
    }
    .dpSection #logo {
        float: left;
    }
    .dpSection #ipad {
        float:right;
    }
    .dpSection #tagline {
        float: left;
        margin: 40px 0px;
        width: 40%;
    }
}

/* Label section */
.labelSection {
  color: black;
  background-color: #F2F2F2;
}
.labelSection #logo {
    margin: 20px 0px;
}
@media (max-width: 768px) {
    .labelSection {
        text-align: center;
    }
    .labelSection #logo {
        align: center;
    }
    .labelSection #tagline {
        margin: 20px 0px;
    }
}
@media (min-width: 768px) {
    .labelSection {
        text-align: right;
    }
    .labelSection #record {
        float: left;
				width: 50%;
    }
		.labelSection #record img {
			position: relative;
			left: -15%;
		}
    .labelSection #logo {
        float: right;
    }
    .labelSection #tagline {
        float: right;
        margin: 40px 0px;
        width: 50%;
    }
}

/* Bunny section*/

.bunnySection {
	background-color: #CEDCF3;
	color: #DD512C;
}
.bunnySection #logo {
    margin: 20px 0px;
}

@media (max-width: 768px) {
    .bunnySection {
        text-align: center;
    }
    .bunnySection #logo {
        align: center;
    }
    .bunnySection #tagline {
        margin: 20px 0px;
    }
}
@media (min-width: 768px) {
    .bunnySection {
        text-align: left;
    }
    .bunnySection #phone {
        float: right;
    }
    .bunnySection #logo {
        float: left;
    }
    .bunnySection #tagline {
        float: left;
        margin-top: 20px;
        width: 50%;
    }
}

/* SPL Section */

.splSection {
	background-color: #E0E0E0;
	color: black;
	background-image: url("/imgs/SPL12StarBackground.png");
	background-repeat: repeat;
	text-align: center;
}
.splSection #logo {
    margin: 20px 0px;
}

@media (max-width: 768px) {
    .splSection {
        text-align: center;
    }
    .splSection #logo {
        align: center;
    }
    .splSection #tagline {
        margin: 20px 0px;
    }
}
@media (min-width: 768px) {
    .splSection {
        text-align: left;
    }
    .splSection #phone {
        float: right;
    }
    .splSection #logo {
        float: left;
    }
    .splSection #tagline {
        float: left;
        margin-top: 20px;
        width: 50%;
    }
}

