body {
    font-family: Arial, Helvetica, sans-serif;
    background: url("../img/bg-tile.jpg") repeat;
    color: #000;
    margin: 0px;
    padding: 0px;
}

a {
    text-decoration: none;
}
a:link {
    color: #000;
}
a:visited, a:hover {
    color: #000;
}

.cover {
    margin: 10px;
}

@media only screen and (max-width: 500px) {
    .cover {
        width: 300px;
    }
}

.media {
    height: 30px;      /* equals max image height */
    max-width: 340px;
    white-space: nowrap;
    text-align: center;
    margin: 0px auto;
}

.helper {
    display: inline-block;
    height: 100%;
    vertical-align: middle;
}

.media img {
    vertical-align: middle;
    max-height: 30px;
}

.page-header {
    padding: 30px;
    text-align: center;
}

#content {
    margin: 0px auto;
    text-align: center;
}
